<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>
<body>
    <!-- burdan bi route'a get requesti sonra gelen valuelar ile chartı updatele -->
   <canvas style="display: inline;" id="bar-chart" width="700" height="350"></canvas>
   <canvas style="display: inline;" id="bar-chart2" width="700" height="350"></canvas>
<script src="http://localhost:3000/js/index.js"></script>
</body>
</html>